@media (min-width: 280px) and (max-width: 768px) {
  /* line 2, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
  .join {
    margin-top: -200px;
  }

  /* line 6, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
  .btn_more {
    position: relative;
    top: 40px;
    width: auto;
  }

  /* line 13, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
  .disc {
    margin-top: 120px;
  }

  /* line 17, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
  .slider {
    padding-bottom: 80px;
  }

  /* line 21, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
  .value h4 {
    font-size: 15px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  /* line 29, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
  .btn_more {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
    width: 100%;
    margin-left: 180px;
  }
}
/* line 38, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.unsold {
  margin-top: 80px;
}

/* line 41, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.unsold h1 {
  color: #fff;
  font-weight: 200;
}

/* line 46, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.more, .info {
  background-color: #20ce99;
}

/* line 50, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.lead h2 {
  color: #fff;
}

/* line 54, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
hr {
  color: #fff;
  width: 1000px;
}

/* line 59, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.lead h5 {
  color: #fff;
}

/* line 63, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.light {
  background-color: #F0A830;
  padding-right: 3px;
  padding-left: 3px;
}

/* line 69, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.slider {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

/* line 76, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.active-slide {
  display: block;
}

/* line 80, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.slider-nav {
  text-align: center;
  margin-top: 20px;
}

/* line 85, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

/* line 92, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

/* line 99, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

/* line 107, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

/* line 114, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.slider-dots li.active-dot {
  color: #363636;
}

/* line 119, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.disc {
  margin-top: 20px;
}

/* line 123, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.slide-img img {
  margin-top: 20px;
}

/* line 127, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.value h4 {
  padding-top: 20px;
  color: #fff;
  font-weight: 100;
}

/* line 133, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.arrow-next:hover, .arrow-prev:hover {
  background: none;
  text-decoration: none;
  opacity: 0.6;
}

/* line 139, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.btn_more {
  background: #F0A830;
  border-radius: 0;
}

/* line 144, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.btn_more:hover {
  background: #dad8d2;
  text-decoration: none;
}

/* line 149, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.join {
  position: relative;
  left: 0px;
  top: 120px;
}

/* line 155, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.slider-nav hr {
  width: 100%;
}

/* line 159, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/more.scss */
.ico {
  display: none;
}
/* line 1, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left: auto;
  margin-right: auto;
}
/* line 60, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 71, /Users/dapothomas/Documents/beta/landing/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


 	@media (max-width: 240px) {
 		body {
 			width: auto;
 			font-size: auto;
 			font-family: 'Roboto', sans-serif;
 			font-weight: 100;
 		}
 		h1 {
 			font-size: 40px;
 		}
 	}


    @media (min-width:280px) and (max-width: 768px) {
    	.rowzer .btn_learn {
    		margin-bottom: 100px;
    	}

    	.rowzer {
    		padding-bottom: 180px;
    	}

    	 h1 {
    		font-size: 30px;
    		font-weight: 100;
    	}

    	.home-works .container .row {
    		padding-top: 0px;
    	}

    	.vision {
    		margin-left: 0;
    	}

    	.vision h1 {
    		font-size: 3em;
    		padding-top: 40px;
    	}

    	
    	h2.lead {
    		font-size: 15px;
    	}

    	h4 {
    		font-size: 10px;
    	}
    	p {
    		font-size: 10px;
    		font-weight: 100;
    	}

    	img.header {
    		height: 20px;
    		margin-top: -20px;
    	}

    	.fir .circa {
			margin-left: 0px;
		}
    	
    }

    @media (min-width: 768px) and (max-width: 992px) {
       /* rules for tablet (768 > 992) */
       
       .rowzer {
       	margin-bottom: -100px;
       }
       .col-xs-4 {
       	text-align: left;
       }
       .tinted-image {
       	margin-bottom: 0;
       }

       img.header {
    		height: 30px;
    	}

       	.vish {
    		margin-left: 0;
    	}

    	.vision {
    		padding-top: 30px;
    	}
    	.home-works {
    		margin-top: 0;
    		height: 600px;
    	}
   
    }
    @media (max-width: 1200px) {
       /* rules for desktop (992 > 1200) */

     	.rowzer {
       		margin-bottom: -80px;
       }

       .tinted-image {
       		margin-bottom: 0;
       }

       .home-works {
       		height: 600px;
       }

    	.vision {
    		padding-top: 30px;
    	}

     	.half {
       		margin-top: -200px;
    	}

    	.lead .btn_learn {
    		margin-bottom: 60px;
    	}
    }

    @media (min-width: 1200px) {
       /* rules for large (> 1200) */
       .tinted-image {
       	padding-bottom: 100px;
       }
    }



/*----------- */
/* Homepage */

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
		} 

h2.care {
	padding-top: 180px;
	font-weight: 100;
	font-size: 200%;
	color: #fff;
}

.navbar-text {
	color: #fff;
}

.navbar-text a:hover {
	text-decoration: none;
	opacity: 0.6;
	background: none;
}

.navbar-link a {
	word-spacing: 20px;
	padding-right: 30px;
}

.home-works {
	height: auto;
	width:100%;
	padding-bottom: 60px;
}

.home-works h4 {
	font-size: 25px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.home-works p {
	font-size: 16px;
	font-weight: 100;
}



h4.lead, h2.lead {
	color: #fff;
	font-size: 150%;
	font-weight: 100;
}

p.lead {
	font-weight: 100;
	color: #fff;
}

.btn_learn {
	margin-top: 20px;
}
a.btn_learn {
	background-color: #40e1b0;
	color: #fff;
	border-color: #40e1b0;
	border-radius: 0;
}
a.btn_learn:hover {
	background-color: #dad8d2;
	color: #fff;
	border-color: #dad8d2;
}

.lead .btn_learn {
	margin-bottom: 0;
}


h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.rowzer {
	background: url("/bcover_tint2.png");
	background-size: cover;
	height: 60%;
	padding-bottom: 180px;
}

.vision {
	background: url("/vision2.jpg");
	background-size: cover;
	height: 600px;
	padding-bottom: 100px;
}

.vision h1 {
	padding-top: 200px;
	font-weight: 100;
	font-size: 60px;
	color: #fff;
}


.home-works {
	margin-top: 0px;
	margin-bottom: 0;
	background-color: #dad8d2;
}


.home-works .container .row {
	padding-top: 10px;
}

.partners {
	background-color: #fff;
	height: 300px;
	margin-top: 10px;
}

.partners .container .row h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #000;
}

.img-rounded {
	height: 150px;
	width: 150px;
}


.part a:hover {
	color: transparent;
	background-color: none;
	text-decoration: none;
}

.col-md-6 a:hover {
	text-decoration: none;
	background: none;
}

.fir .circa {
	margin-left: 200px;
}

.meet h4 {
	font-family: 'Roboto', sans-serif;
	color: #D3D3D3;
	font-weight: 300;
}

.circa {
	margin-top: 30px;
}

.partners .container .row .col-xs-12 {
	margin-top: 20px;
	text-align: center;
}

.learn_more {
	background-color: #dad8d2;
	margin-top: 0px;
}

.learn_more h2 {
	padding-top: 140px;
} 

.header {
	padding-top: 40px;
}

.footer {
	background-color: #2d3131;
	padding-top: 20px;
	padding-bottom: 0;
}

.footer p, a, h5 {
	color: #fff;
}

.icon-twitter:hover, .icon-instagram:hover {
	opacity: 0.6;
	background: none;
	text-decoration: none;
}

.soc_media {
	word-spacing: 15px;
}

.legal a, .other a {
	text-decoration: none;
	color: #fff;
}

.legal a:hover, .other a:hover {
	background: none;
	opacity: 0.6;
	text-decoration: none;
}
.legal {
	padding-left: 90px;
}

/* Invite page */

.role_label {
	padding-right: 220px;
}

.header h4 {
	padding-top: 40px;
}
.form-group {
width: 250px;
margin-right: auto;
margin-left: auto;
}

.form-group input:focus {
	outline: none;
	border: none;
	border-bottom: 3px solid #20ce99;
	transition: border-bottom 0.5s;
	transition-timing-function: ease;
}


.form-group input, select {
	width: 100%;
	line-height: 2;
}

.form-group option {
	width: 120px;
}

.form-group .btn {
	background-color: #20ce99;
	color: #fff;
	border-color: #20ce99;
	border-radius: 0;
}

.form-group .btn:hover {
	background-color: #dad8d2;
	border-color: #dad8d2;
	color: #fff;
}

/* thanks page */
.thanks {
	background-color: #20ce99;
}

/* users page */

.title {
	word-spacing: 100px;
	margin-left: 440px;
}

.deets {
	margin-left: 260px;
	word-spacing: 20px;
}

ol {
	margin-left: 110px;
}

/* FAQ & CONTACT */

.faqs, .contact {
	background: #20ce99;
}

.faqs h1, .faqs h3, .faqs p, .contact h1, .contact h4 {
	color: #fff;
	font-weight: 100;
}

.contact a:hover {
text-decoration: none;
background: none;
opacity: 0.6;
}

.contact p {
	font-weight: 100;
}

/* Log in page */

.panel {
	margin-top: 50px;
}

.field {
	text-align: center;
}

.btn_login {
	background: #20ce99;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -60px;
}

.btn_login:hover {
	background: #dad8d2;
	}
