<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	 <style type="text/css" media="screen">
      img.brand { 
      	max-height: 80px;
      	margin-left: auto;
      	margin-right: auto; 
      }
    </style>
</head>
<body>

<%= image_tag "http://beta.cubey.co/images/cropgrnblkexp2.png", class: "brand text-center" %>
<br><br>
<p>Howdy <%= @beta_user.first_name %>,</p>
<br>
<p>Thanks for signing up to Cubey.</p>
<p>Someone would be in touch shortly.</p>

<p>Best wishes,</p>
<br>
<p>Dapo Thomas</p>
<p>Founder/CEO</p>

</body>
</html>