<div class="jumbotron text-center contact" style="max-height:100%; max-width:100%; padding-top: 250px; padding-bottom: 300px;">
	<h1 class="text-center contact">Contact</h1><br>
	<h4>Reach us at:</h4>
	<p><a href="mailto:info@cubey.co">info@cubey.co</a></p>
	<p class="soc_media"><a href="http://twitter.com/cubeyHQ" class="icon-twitter"><img src="twitter.png" style="max-height: 30px;"></a> 
       <a href="https://instagram.com/cubeyHQ" class="icon-instagram"><img src="instagram.png" style="max-height: 25px;"></a>
   </p>
</div>
