<div class="jumbotron faqs text-center" style="max-height: 100%; width:100%; padding-top: 250px; padding-bottom: 300px;">
<h1 class="text-center">FAQs</h1>
<h3>We haven't got any yet. Why don't you ask us some?</h3>
<p>info@cubey.co</p>
</div>