

      <div class="rowzer">
				<div class="masthead clearfix">
					<div class="inner">
						<img class="masthead-brand center-block" src="cropgreenbexp2.png" style="max-height: 100px;">
					</div>
        </div>

        <div class="inner">
          <h2 class="heading text-center care">Connecting you to <span class="type-text"></span> designers..</h2>
          <h4 class="lead text-center">Opportunity to get one-off and discounted pieces</h4>
          <p class="lead text-center">
            <a href="/invite" class="btn btn_learn btn-default priv">Join the Beta</a>
          </p>
        </div>
      </div>

          <div class="home-works">
            <div class="container">
              <div class="row text-center">
                <h2 class="text-center">How it Works</h2>
                <div class="col-md-4" style="margin-right:0; margin-left:0;">
                  <div class="content text-center">
                    <div class="header">
                      <img src="1.png" style="max-height: 60px;">
                    </div>
                    <h4>There's something for everybody</h4><br>
                    <strong><p>Browse through our list of well curated fashion-forward brands 
                      and find the perfect bargain for the style you are after.</p></strong>
                  </div>
                </div>
                <div class="col-md-4" style="margin-right:0; margin-left:0;">
                  <div class="content text-center">
                    <div class="header">
                      <img src="2.png" style="max-height: 60px;">
                    </div>
                    <h4>We celebrate independent fashion brands</h4><br>
                   <strong><p>Our partner brands offer discounts of up to 75%
                      off or shop one of our brands with one-off pieces. In the process, you also discover 
                      new and exciting indie brands. </p></strong>
                  </div>
                </div>
                <div class="col-md-4" style="margin-right:0; margin-left:0;">
                  <div class="content text-center">
                    <div class="header">
                      <img src="3.png" style="max-height: 60px;">
                    </div>
                    <h4>Add To Cart</h4><br>
                   <strong><p>Take that leap and try a new brand! 
                      You're supporting independent designers trying 
                      to make it in the fashion industry, so why not buy that 
                      item none of your mates have!</p></strong>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="vision">
            <div class="row cover">
              <div class="cover-container">
               <!-- <img class="vish" src="vision2.jpg"> -->
                <h1 class="heading text-center vishtxt">Our Vision</h1><br>
                <h2 class="lead text-center">To create a community of the most directional fashion brands</h2>
              </div>
            </div>
          </div>

    <!--      <div class="partners">
            <div class="container">
              <div class="row">
                <h1 class="text-center">Meet the Brands</h1>
                <div class="col-xs-4 col-sm-4 col-md-4">
                  <a class="part" href="#">
                    <img class="img-circle circa" src="/vionnet.jpg">
                  </a>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4">
                  <a class="part" href="#">
                    <img class="img-circle circa" src="/crae copy.png">
                  </a>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4">
                  <a class="part" href="#">
                    <img class="img-circle circa" src="/nateiss.jpg">
                  </a>
                </div>
              </div>
            </div>
          </div> -->

          <div class="learn_more site-wrapper-inner" style="height: 400px; width:100%;">
            <div class="container">
              <div class="row text-center">
                <h2>Are you a brand/designer and you want to find out if Cubey is for you?</h2>
                <div class="col-xs-4-offset col-sm-4-offset col-md-4-offset">
                  <a href="/merchant_info" class="btn btn_learn">Learn more</a>
                </div>
              </div>
            </div>
          </div>


  
  <footer class="footer" style="height: 250px; width: 100%;">
    <div class="container">
      <div class="row mastfoot">
        <div class="col-xs-4 col-sm-4 col-md-4 inner text-left" style="margin-right:0; margin-left:0;">
          <h5>FOLLOW US</h5> 
          <div class="soc_media">
            <p><a href="http://twitter.com/cubeyHQ" class="icon-twitter"><img src="twitter.png" style="max-height: 25px;"></a> 
              <a href="https://instagram.com/cubeyHQ" class="icon-instagram"><img src="instagram.png" style="max-height: 20px;"></a></p>
          </div>
          <p>&copy; Copyright Cubey Ltd. 2016, all rights reserved.</p>
          <p>Cubey Ltd is registered and incorporated in England and Wales, company registration number 09822905.</p>
        </div>
        
        <div class="col-xs-4 col-sm-4 col-md-4 text-left legal" style="margin-right:0; margin-left:0;">
          <h5>LEGAL</h5>
          <p><a href="/terms">Terms</a></p>
          <p><a href="/privacy">Privacy Policy</a></p>
          <p><a href="/buyer">Buyer Agreement</a></p>
          <p><a href="/merchant">Merchant Agreement</a></p>
        </div>
        
        <div class="col-xs-4 col-sm-4 col-md-4 text-left other" style="margin-right:0; margin-left:0;">
          <h5>OTHER</h5>
          <p><a href="/faq">FAQs</a></p>
          <p><a href="/contact">Contact</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="jquery.js"></script>
  <script src="jquery.teletype.js"></script>