
<html>

<head>

<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:Times;
	panose-1:2 0 5 0 0 0 0 0 0 0;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	mso-font-charset:78;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:1 134676480 16 0 131072 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	mso-font-charset:78;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:1 134676480 16 0 131072 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-ascii-font-family:"Times New Roman";
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:"Times New Roman";
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-ansi-language:EN-US;
	mso-fareast-language:JA;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	mso-themecolor:hyperlink;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	mso-themecolor:followedhyperlink;
	text-decoration:underline;
	text-underline:single;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	mso-ascii-font-family:"Times New Roman";
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:"Times New Roman";
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-ansi-language:EN-US;
	mso-fareast-language:JA;}
@page WordSection1
	{size:595.0pt 842.0pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;
	mso-header-margin:36.0pt;
	mso-footer-margin:36.0pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body bgcolor=white lang=EN-GB link=blue vlink=purple style='tab-interval:36.0pt'>

<div class=WordSection1>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Last Updated:
February 20, 2016</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey Ltd.
(sometimes herein “Cubey,” “We”, “Us” or “Our”<span class=GramE>),</span>
offers services through the domain </span><a href="www.cubey.co">www.cubey.co</a><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
(sometimes herein the “Site”). By advertising a product or service or registering 
an online store with Cubey, you (“Merchant,” “You” or “Your,” which
collectively includes You and any other entity you may be representing) agree
to abide by the Terms of Service (”Terms&quot;) outlined below. Cubey reserves
the right to edit these Terms at any time, so <span class=GramE>We</span>
recommend checking back from time to time for any changes that might apply to
You. Your registration with Cubey as a Merchant constitutes a binding agreement
between <span class=GramE>You</span> and Cubey (“Merchant’s Agreement&quot;).</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey provides
a web application (“Software”) that allows users to buy goods and/or services
and Merchants to create online venues through which they can sell goods and
services online at discounted prices.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>General</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>When a user
creates a store to list goods or services for sale on Cubey and a buyer agrees
to purchase the good or service, the parties have entered into a binding <span
class=GramE>agreement which</span> both parties are required to fulfill. The
Merchant should sell and the buyer should buy the goods or services for the
price agreed to by the Merchant and its buyer.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Account Terms for All
Merchants</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Order
fulfillment is the Merchant’s sole and full responsibility. <span class=GramE>All
products purchased through a Cubey online store must be fulfilled by the
Merchant</span> in a timely manner, and in all events within a maximum of 3
business days following completion of an order, unless otherwise agreed by the
Merchant and its buyer. Failure to fulfill orders may cause <span class=GramE>Your</span>
store to be suspended by Cubey.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You are
responsible for any customization of Your Cubey listings and online store,
including graphics and information.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You are
responsible for managing all products and services, including information about
the product, product variants, product images and stock levels. You must
correctly and accurately describe all products listed in Your Cubey online
store.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You are
responsible for all activity and content (data, graphics, photos, links) that
is uploaded under Your Cubey account. <span class=SpellE>Cubey’s</span>
services are available only to, and may only be used by, individuals who are 18
years and older who can form legally binding contracts under applicable law.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You authorize
Cubey to process any and all of Your Cubey account transactions initiated
through the use of the password and/or passphrase that you establish through
registration on the Site and you are solely responsible for maintaining the
confidentiality of such password and/or passphrase. Cubey cannot and will not
be liable for any loss or damage from <span class=GramE>Your</span> failure to
maintain the security of Your account and password.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You may not
use Cubey online stores for any illegal or unauthorized purpose nor may <span
class=GramE>You</span>, in the use of the Service, violate any laws in Your
jurisdiction (including but not limited to copyright laws).</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You will be
responsible for payment of all applicable sales, use and other taxes and
government charges, whether federal, state or foreign, for each sale made
through Your Cubey online store.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>We may, but
have no obligation to, remove content and accounts containing content that We
determine at Our sole discretion as unlawful, offensive, threatening, libelous,
defamatory, pornographic, obscene or otherwise objectionable or violates any
party’s intellectual property or these Terms.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You expressly
understand and agree that Cubey shall not be liable for any direct, indirect,
incidental, special, consequential or exemplary damages, including but not
limited to, damages for loss of profits, goodwill, use, data or other
intangible losses resulting from the use of or inability to use the service.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You must not
transmit any worms or viruses or any code of a destructive nature.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You agree not
to reproduce, duplicate, copy, sell, resell or exploit any portion of the
Service, use of the Service or access to the Service without the express
written permission of Cubey.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey does not
claim any intellectual property rights over the material <span class=GramE>You</span>
provide to the Cubey service. All material <span class=GramE>You</span> upload
remains Yours.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You agree to
not sell or rent any purchasers’ information to any third-party companies. This
includes Name, Email, Address and Phone Number.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey works
hard to keep the Site operating for the benefit of its users. However, in the
event of a problem, please contact Us at </span><u style='text-underline:blue'><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:blue'><a
href="mailto:info@cubey.co"><span style='color:blue'>info@cubey.co</span></a></span></u><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
Cubey does not warrant that the Service will be uninterrupted, timely, secure
or error-free. The Service is provided on an “as <span class=GramE>is</span>”
and “as available” basis without any warranty or condition.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>A breach or
violation of these Terms, at the sole discretion of Cubey, may result in
immediate termination of Your Services.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You agree not
to post 3rd party advertisements of any kind in your store or anywhere on
Cubey. This includes banner ads, Google <span class=SpellE>Adwords</span> or
affiliate programs of any kind.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>We reserve the
right to modify or terminate the Service for any reason, without notice, at any
time.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Prohibited Products
Listing</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>We expect
Merchants to undertake necessary due diligence to confirm the products listed
for sale in Your Cubey online store are in strict conformity with all
applicable laws. In the event Cubey concludes that a product is prohibited,
possibly illegal or inappropriate, <span class=GramE>We</span> may without any
notice to You immediately remove or modify the listing for the product. Cubey
reserves the sole right and discretion to determine whether <span class=GramE>listings
for products and contents on the Site is</span> appropriate.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>The following
products and services <span class=GramE>are not permitted to be sold, organized
or</span> listed for sale on the Site:</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span class=GramE><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>Media
which has been copied likely</span></span><span lang=EN-US style='font-family:
Times;mso-bidi-font-family:Times;color:black'> infringes copyrights and
trademarks and may not be sold on the Site. Any copyrighted <span class=GramE>materials
which have been copied without authorization</span> are prohibited on the Site.
Furthermore, the following items <span class=GramE>are not permitted to be sold
or</span> displayed on the Site:</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
copies of photographs and pictures.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
recordings of music or concerts.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
soundboard recordings.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
merchandise.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
events and event tickets.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
reproductions of movies.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unreleased/<span
class=SpellE>prereleased</span> movies or video related thereto such as
previews and trailers.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unpublished
and unauthorized film scripts, electronic press kits and unauthorized props.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
reproductions of books.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
recordings or copies of recordings of radio programs or television programs and
unauthorized scripts.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>Any</span> video games or software unless such video games and/or
software are full retail versions.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>Media which is produced and distributed for promotional use</span>
only are not authorized for retail distribution or sale, including but not
limited to promo books, promo music albums and CDs, promo films and promo
software.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
replica, counterfeit and “knock-off” merchandise is prohibited.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Celebrity
images and/or the use of celebrity names without permission of a celebrity or
their management including products containing such images.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Solutions
Manuals.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Media
transferred from one format to another.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Photography,
paintings, illustrations of any sort, textual descriptions, videos, DVDs, tapes
or other media for visual reproduction that is pornographic or depicts a human
being engaged in actual sexual conduct; gratuitous nudity or suggestive
gratuitous nudity; any item depicting a nude individual under the age of 18 years;
the offer to engage in sexual activity with anyone or anything; the offer of a
massage or other service requiring physical contact; the offer of any service
that suggests or in any way conveys an intimate service contact, including
dates, escorts or other such services; adult novelties, toys and devices of a
sexual nature for which one would have to be 18 years of age to purchase in the
United States. Tasteful nudity may be allowed if the artwork is considered fine
art, such as Michelangelo’s David.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Listings
intended wholly or mainly as gateways to commercial or private websites for the
purposes of advertising, or that offer contact information for non-Cubey
transactions.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>The</span> sale of Internet domain names (URLs).</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Cash
or equivalent instruments.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Weapons.
Cubey does not permit listing weapons that employ gunpowder or explosives
including but not limited to: ammunition, rifles, shotguns, pistols, other
firearms, fireworks, automatic knifes, throwing stars, spring-loaded knives,
switchblades, crossbows, hunting bows, knives of any kind, <span class=SpellE>nunchaku</span>,
clubs, brass knuckles, BB guns, paintball guns, pellet guns, <span
class=SpellE>tasers</span>, stun guns, pepper spray, mace, blowguns, and
weapons designed to be concealed. Toys that fire rubber pellets or foam darts
are permitted.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Illegal
items.</span> Items sold in a Cubey online store must adhere to all applicable
laws. This includes the sale of items by individuals outside the United States.
Some items that may not be sold on Cubey include: tobacco products including
Cuban cigars, stock and securities, lottery tickets (including grab bags and
raffles), illicit drugs, prescriptive devices and drugs, cable descramblers,
lock-picking devices, smart cards, and any product which may lead to the
production of an illegal item or illegal activity.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Items
that infringe upon an individual’s privacy including the sale of marketing
lists (bulk email lists, direct-mail marketing lists, etc.).</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Living
creatures and unauthorized/illegal wildlife products.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Offensive
material as deemed offensive by Cubey in its sole discretion including items
such as crime-scene photos and human organs and body parts.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Recalled
products.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>Any</span> item that enables unauthorized transmission/reception of
a satellite broadcast/signal.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Stolen
property and goods.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Tobacco
and tobacco products.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Wine
and other alcoholic beverages and related products.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Unauthorized
copies of art in any form.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>Any</span> product that by listing same on the Site violates any
law in any jurisdiction.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Automobile
tires or batteries.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Counterfeit
money.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Electronic
smoking products.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Illegal
drugs or drug paraphernalia.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>Any</span> product containing any hazardous or dangerous material
including mercury or any product whose use is regulated by any law in any
jurisdiction.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=SpellE>Lockpicking</span> equipment.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Lottery
tickets.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Medical
equipment unless approved in advance by <span class=GramE>Us</span>.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>No
plants or seeds designated by any agency as noxious or dangerous and no illegal
plants or seeds.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Postage
meters.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Slot
machines.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Electronic
surveillance equipment.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Tanning
devices unless approved in advance by <span class=GramE>Us</span>.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Service
contracts or warranties.</span></span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>•<span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Additionally,
posting of links to outside websites intended to sell items&#8212;particularly
those with non-Cubey ordering tools or information or posting promotional logos
to credit outside services is strictly prohibited.</span></p>

<p class=MsoNormal style='margin-left:36.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
class=GramE>•<span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Social
followers, likes, follows, etc.</span></span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Customer Service
Responsibilities</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span class=SpellE><span
class=GramE><b style='mso-bidi-font-weight:normal'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey's</span></b></span></span><span
class=GramE><b style='mso-bidi-font-weight:normal'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'> Customer
Service Responsibilities.</span></b></span><span lang=EN-US style='font-family:
Times;mso-bidi-font-family:Times;color:black'> As between you and us, we will
be solely responsible for all customer service issues relating to payment,
credit card processing, debiting or crediting, and refunds.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span class=GramE><b
style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-family:Times;
mso-bidi-font-family:Times;color:black'>Your Customer Service Responsibilities.</span></b></span><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
Unless provided otherwise elsewhere in these Terms, you will be solely
responsible for all customer service issues relating to Your Products
(including pricing, rebates, item information, availability, technical support,
functionality and warranty), Your Product order fulfillment and shipping and
handling, Your Product order cancellation by you or any customer, returns,
adjustments, and feedback concerning experiences with your personnel, policies
or processes. In performing customer service, you will always present yourself
as a separate entity from us.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Disclaimer and
Dispute Resolution</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>CUBEY ON
BEHALF OF ITS MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES AND AGENTS, MAKES NO
EXPRESS OR IMPLIED WARRANTIES, COVENANTS OR REPRESENTATIONS OF ANY KIND WITH
RESPECT TO THE SITE, THE SERVICES OR ANY CONTENT THEREON. CUBEY EXPRESSLY
DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE,
INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, WITH REGARD TO THE SITE,
THE SERVICES, ALL CONTENT THEREON, AND ANY PRODUCT OR SERVICE FURNISHED OR TO
BE FURNISHED FROM OR ON THE SITE. CUBEY DOES NOT <span class=GramE>WARRANT :</span>
THAT THE FUNCTIONS PERFORMED BY THE SITE OR THE SERVICE WILL BE UNINTERRUPTED,
TIMELY, SECURE OR ERROR-FREE; OR THAT DEFECTS IN THE SITE OR THE SERVICE WILL
BE CORRECTED; OR THE ACCURACY OR COMPLETENESS OF THE CONTENT; OR THAT ANY
ERRORS IN THE CONTENT WILL BE CORRECTED. THE SITE, THE SERVICES AND ALL CONTENT
ARE PROVIDED ON AN “AS IS”, ‘WHERE IS”, “AS AVAILABLE” AND “WITH ALL FAULTS”
BASIS. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE
FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. THIS WARRANTY GIVES YOU SPECIFIC
LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM COUNTRY TO
COUNTRY.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>IN NO EVENT
WILL CUBEY OR ITS MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES AND AGENTS BE LIABLE
FOR ANY DAMAGES WHATSOEVER, INCLUDING, BUT NOT LIMITED TO ANY DIRECT, INDIRECT,
GENERAL, SPECIAL, COMPENSATORY, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR OTHER
DAMAGES ARISING OUT OF (I) YOUR CONDUCT OR ANYONE ELSE IN CONNECTION WITH USE
OF THE SITE, THE SERVICES OR THIS AGREEMENT, (II) INABILITY TO USE THE SITE,
THE SERVICES, OR ANY CONTENT THEREON, (III) ANY TRANSACTION CONDUCTED THROUGH
OR FACILITATED BY THE SITE; (IV) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS,
OR OTHER INACCURACIES IN THE SITE, THE SERVICES AND/OR THE CONTENT THEREON, (V)
UNAUTHOURIZED ACCESS TO OR ALTERATION OF YOUR INFORMATION, PLACE OR DATA, OR
(VI) ANY OTHER MATTER RELATING TO THE SITE, THE SERVICE, OR THE CONTENT, EVEN
IF CUBEY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOU ARE
DISSATISFIED WITH THE SITE, THE SERVICES, THE CONTENT, OR WITH THE TERMS OF USE,
<span class=GramE>YOUR</span> SOLE AND EXCLUSIVE REMEDY IS TO CEASE USING THE
SITE. SOME COUNTRIES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR
CONSEQUENTIAL OR INCIDENTAL DAMAGES, AND THEREFORE SOME OF THE ABOVE
LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH COUNTRIES CUBEY’S LIABILITY IS
LIMITED AND WARRANTIES ARE EXCLUDED TO THE GREATEST EXTENT PERMITTED BY LAW,
BUT SHALL, IN NO EVENT, EXCEED £100.00 GBP.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>If a dispute
arises between <span class=GramE>You</span> and Cubey, We will seek to resolve
the dispute as quickly as commercially reasonable. Before resorting to legal
proceedings, <span class=GramE>You</span> must first contact Us directly and
work with Us to resolve a dispute. If a dispute cannot be resolved by <span
class=GramE>You</span> and We, You will have the option to pursue a claim (a
“Claim”) against Cubey in accordance with one of the options provided below or
as We and You otherwise agree in writing.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>This
Merchant’s Agreement shall be governed in all respects by the law of the United
Kingdom.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>These Terms
are effective March 1st, 2016, for current Merchants, and upon use of the Site
by a new Merchant. We reserve the right to modify or terminate the Services for
any reason, without notice, at any time. We reserve the right to alter or amend
these Terms or other Site policies at any time. Any notices of termination or
modification to the Services or the Terms will take effect when set forth on
the Site. When using particular Services on the Site, You are subject to any
unique posted policies or rules applicable to specific Services You use through
the Site, which may be posted from time to time. All such policies or rules are
hereby incorporated into this Merchant’s Agreement. This Merchant’s Agreement
as supplemented by such other additional agreements for specific Services, sets
forth the entire understanding and agreement between us with respect to the
subject matter hereof.</span></p>

</div>

</body>

</html>
