

<html>

<head>

<style>

<!--
 /* Font Definitions */
@font-face
	{font-family:Times;
	panose-1:2 0 5 0 0 0 0 0 0 0;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;
	mso-font-charset:128;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:fixed;
	mso-font-signature:1 134676480 16 0 131072 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;
	mso-font-charset:128;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:fixed;
	mso-font-signature:1 134676480 16 0 131072 0;}
 /* Style Definitions */
 a {
  color: blue;
 }

p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0cm;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-ascii-font-family:"Times New Roman";
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:"Times New Roman";
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-ansi-language:EN-US;
	mso-fareast-language:JA;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	mso-ascii-font-family:"Times New Roman";
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:"Times New Roman";
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-ansi-language:EN-US;
	mso-fareast-language:JA;}
@page WordSection1
	{size:595.0pt 842.0pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;
	mso-header-margin:36.0pt;
	mso-footer-margin:36.0pt;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-GB style='tab-interval:36.0pt'>

<div class=WordSection1>

	<h2>Terms and Conditions</h2>
<br>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Welcome, and
thank you for your interest in <span class=SpellE>Cubey</span> Ltd. (<span
class=SpellE>"Cubey"</span>). <span class=SpellE>Cubey</span> provides services
(&quot;Services&quot;) that enables people to shop from stores around the world at discounted prices. 
It is our goal to make it easy for consumers to discover awesome products that are available around 
<span class=GramE>them</span> at discounted prices.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Acceptance of the
Terms</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span class=SpellE><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey</span></span><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
offers Services through the domain </span><a href="www.cubey.co">www.cubey.co</a><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
(herein the &quot;Site&quot;), as well as through mobile application (&quot;Software&quot;). 
By using the services offered through the Site, you (&quot;User&quot; or &quot;You,&quot; or Your 
which collectively includes You and any other person or entity on whose behalf You may be acting) are accepting
and agreeing to the terms of use (&quot;Terms&quot;) set forth below which will
constitute a binding agreement between You and <span class=SpellE>Cubey</span>
(&quot;Agreement&quot;).</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>By using the
Services of the Site, You are accepting and agreeing to the terms of the <span
class=SpellE>Cubey</span> </span><u><span lang=EN-US style='font-family:Times;
mso-bidi-font-family:Times;color:#0000E9'>Privacy Policy</span></u><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
(&quot;Privacy Agreement&quot;), which <span class=GramE>You</span> acknowledge
You have fully read and understood. Also, if <span class=GramE>You</span> sell
products (the &quot;Goods&quot;) through an online store on this Site, as
described elsewhere, You must agree to the terms of the <span class=SpellE>Cubey's</span>
</span><u><a href="/merchant">Merchant Agreement</a></u><span lang=EN-US style='font-family:
Times;mso-bidi-font-family:Times;color:black'> ("Merchant's Agreement").
Each merchant (boutique or designer) will have their own online store ("Store")
from which it will sell and promote its goods at a discount of <span
class=SpellE>at least</span> 10%. In the event <span class=GramE>You</span> buy
Goods through a store on this Site, Your purchase of goods or services through
such a store will constitute Your agreement to comply with the terms applicable
to a buyer of goods or services (&quot;</span><u><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:blue;'><a href="/buyer">Buyer's
Agreement</a></span></u><span lang=EN-US style='font-family:Times;mso-bidi-font-family:
Times;color:black'>&quot;). By agreeing to be bound by the terms of this
Agreement, You are acknowledging <span class=GramE>You</span> have read and
agree to be bound by the </span><u><span lang=EN-US style='font-family:Times;
mso-bidi-font-family:Times;color:blue;'><a href="/merchant">Merchant's Agreement</a></span></u><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
and/or the </span><u><span lang=EN-US style='font-family:Times;mso-bidi-font-family:
Times;color:#0000E9'>Buyer's Agreement</span></u><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>, as the case
may be. You agree to comply with and be bound by the Terms described below.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Your Use of the
Services</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You may use
the Services and the Site and the content owned and provided by <span
class=SpellE>Cubey</span> (singularly and collectively, the &quot;<span
class=SpellE>Cubey</span> Content&quot;) solely in connection with the intended
purposes of the Site. No right, title or interest in any <span class=SpellE>Cubey</span>
Content is transferred to <span class=GramE>You</span>. <span class=SpellE>Cubey</span>
retains all of its intellectual property rights in all <span class=SpellE>Cubey</span>
Content. Except as expressly authorized by this Agreement, or otherwise agreed
to by <span class=SpellE>Cubey</span>, You may not use, alter, copy,
distribute, transmit, or otherwise appropriate any <span class=SpellE>Cubey</span>
Content obtained from the Site or the Service, except as expressly permitted by
the Terms or as otherwise agreed to by <span class=SpellE>Cubey</span>.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You agree to
use the Site for lawful purposes only. You agree not to take any action that
might affect the security of the Site, render the Site partially or wholly
inaccessible to others or otherwise negatively alter or damage the Site or the <span
class=SpellE>Cubey</span> Content. You agree not to add to, subtract from, or
otherwise modify the <span class=SpellE>Cubey</span> Content, or to attempt to
access any <span class=SpellE>Cubey</span> Content that is not intended for <span
class=GramE>You</span>. You agree not to use the Site in any manner that might
interfere with the rights of third parties.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Prohibited Conduct</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>By using the
Website you agree not to: 1. Be false, misleading, <span class=GramE>inaccurate</span>
or include inaccurate, misleading or false information to a seller or on any
Store which You maintain. 2. Act in a fraudulent way or become involved in the
sale of stolen or counterfeit items. 3. Violate any local, state, federal or
other applicable laws or the rights of third party parties. 4. Access or use
the Site if You are not able to enter into legally binding agreements, are
under the age of 21, or are temporarily or indefinitely suspended from the Site.
5. Fail to deliver payment for items purchased by <span class=GramE>You</span>.
6. Fail to deliver items or services purchased from <span class=GramE>You</span>
if You are a Seller. 7. Infringe on another party's right, title and interest
in and to their intellectual property including copyrights and trademarks. 8.
Interfere with the sales of other online sellers or organizers in any way that
injures, damages or negatively affects their use and enjoyment of the Site. 9.
Be libelous or defamatory with any information posted on the Site. 10. Disseminate
or display spam, chain letters or pyramid schemes. 11. Contain or transmit code
or employ other actions which may harm <span class=SpellE>Cubey</span>, the
Site, the <span class=SpellE>Cubey</span> Content or the interests or property
of <span class=SpellE>Cubey</span> users. 12. Copy, modify, or distribute
content from the Site and/or <span class=SpellE>Cubey's</span> copyrights and
trademarks unless agreed to by <span class=SpellE>Cubey</span>. 13. Collect
information about users, including email addresses, without their consent. 14.
Disseminate or display content or information that (a) is offensive or
inflammatory, such as content that promotes racism, bigotry, hatred or physical
harm of any kind against any group or individuals; (b) promotes illegal or
unauthorized copy of another person's work, such as providing pirated computer
programs or links to them, provides information to circumvent
manufacture-installed copy-protect devices, or (c) provides pirated content or
links to pirated content files. 15. Be obscene or post any information that
contains pornography including child pornography. 16. Violate the Merchant's
Agreement, as the case may be, if <span class=GramE>You</span> are a Merchant.
17. Use any automated means to access the Site for any purpose without the
express written permission of <span class=SpellE>Cubey</span>. 18. Take any
action that imposes or may impose an unreasonable or disproportionately large
load on the Site or the ability to operate the Site as determined solely by <span
class=SpellE>Cubey</span>.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Content</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You are solely
responsible for Your conduct while using the Site and for any and all
information, store listings, advertisements, proposals, data, text, pictures,
graphics, music, sights, sounds, depictions, images, photographs, audio, video
and links (individually and <span class=GramE>collectively</span> the Third
Party Content) that You submit, post, and display on <span class=SpellE>Cubey</span>.
Further, as a Seller, You are solely responsible for each individual item and
service of Third Party Content You display, link to or otherwise make available
through the Site. You agree <span class=SpellE>Cubey</span> has no control, and
is not responsible for the Third Party Content appearing on the Site, and by
using the Site or making purchases, You may encounter Third Party Content which
You find is inaccurate, inappropriate, inflammatory or otherwise of concern to
You.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span class=SpellE><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey</span></span><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
makes no representation or warranty of any kind concerning the truth or
accuracy or any other aspect of any information posted on this website by a
User or any other information appearing at websites which are linked to in any
Third Party Content. As a Seller, You agree that <span class=GramE>You</span>
are solely responsible for all content, material and Third Party Content
appearing in Your Store or in any links appearing within Your Store. You agree
that <span class=SpellE>Cubey</span> does not pre-approve or review Third Party
Content; however, <span class=SpellE>Cubey</span> retains the right but not the
obligation to deny, remove or alter any Third Party Content that appears on the
Site, if in the sole discretion of <span class=SpellE>Cubey</span>, such Third
Party Content violates the Terms.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>The Site and
the <span class=SpellE>Cubey</span> Content are protected by the laws of the
United Kingdom, and belongs solely to <span class=SpellE>Cubey</span>. You may
not use, change or amend in any way the Site or the <span class=SpellE>Cubey</span>
Content without the prior written approval of <span class=SpellE>Cubey</span>.
As a Seller, You are granted a revocable non-exclusive license as part of the
Merchant's Agreement, as the case may be, to utilize references to <span
class=SpellE>Cubey</span> and its logo in connection with linking to Your Store
on the Site from other web pages.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span class=SpellE><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey</span></span><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
does not claim ownership rights in Your Third Party Content. When <span
class=GramE>You</span> post or display Third Party Content on the Site, You
grant to <span class=SpellE>Cubey</span> a license to use and display the Third
Party Content on the Site. You grant <span class=SpellE>Cubey</span> a non-exclusive,
worldwide, perpetual, irrevocable, royalty-free, right to exercise the
copyright, publicity, and database rights (but no other rights) You have in the
Third Party Content, in any media now known or not currently known, with
respect to Your Third Party Content. In the event a third party re-posts Your
Third Party Content, You agreed to hold <span class=SpellE>Cubey</span>
harmless from any liability arising out of a dispute concerning the reposting
of Your Third Party Content.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Fees and Payments</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;
color:black'>Fees.<br></span></b><span lang=EN-US style='font-family:Times;
mso-bidi-font-family:Times;color:black'> <span class=SpellE>Cubey</span> may
now, or in the future, charge fees for access to and use of the Website, or
certain features thereof ("Fees"). <span class=SpellE>Cubey</span> may add new
services for additional Fees and charges, or amend Fees and charges for
existing services, at any time in its sole discretion. You agree to pay all
Fees and charges specified for such features. All Fees are exclusive of
applicable taxes (e.g. sales, use, or value-added tax), unless otherwise
stated, and you are solely responsible for the payment of any such taxes that
may be imposed on your use of the Website. All Fees (including Delivery fees)
are non-refundable.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;
color:black'>Changes in Price; No Refunds.<br></span></b><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'> <span
class=SpellE>Cubey</span> may at any time, upon notice required by applicable
law, change the price of the Website or any features thereof, institute new
charges or fees, or charge a fee for the Website or any part thereof where a
fee was not previously charged. All Fees relating to the Website, including any
Fees charged for access to the Website, are final and nonrefundable.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;
color:black'>Payment Methods.<br></span></b><span lang=EN-US style='font-family:
Times;mso-bidi-font-family:Times;color:black'> <span class=SpellE>Cubey</span>
will charge the Fee, if any, and other additional fees or donations you
authorize, to the PayPal account or credit card you designate. You authorize
the credit card or PayPal account you designate to pay any amounts described
herein and authorize <span class=SpellE>Cubey</span>, or any other company that
acts as a billing agent for <span class=SpellE>Cubey</span>, to continue to
attempt to charge all sums described herein to your credit card or PayPal
account until such Fees are paid in full. You agree to provide <span
class=SpellE>Cubey</span> updated information regarding your credit card and
PayPal account upon <span class=SpellE>Cubey's</span> request, and any time the
information earlier provided is no longer valid. If payment is not received by <span
class=SpellE>Cubey</span> from your credit card issuer or PayPal, you agree to
pay all amounts due upon demand by <span class=SpellE>Cubey</span>. <span
class=SpellE>Cubey</span> will not see or receive <span class=GramE>Your</span>
credit or debit card details or the letters or numbers of Your secret code (to
the extent that You are required to enter these). These will be viewable only
by the payment provider and/or <span class=GramE>Your</span> card issuer (as
applicable).</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span class=GramE><b
style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-family:Times;
mso-bidi-font-family:Times;color:black'>Credit Card Authorization.<br></span></b></span><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'> If
<span class=SpellE>Cubey</span> permits You to use a credit card to activate
pay for any Fees related to the Website, You will be asked to provide <span
class=SpellE>Cubey</span> with a credit card number from a card issuer that we
accept. <span class=SpellE>Cubey</span> may seek pre-authorization of your
credit card account prior to a purchase to verify the credit card is valid
and/or has the necessary funds or credit available to cover your purchase.
These pre-authorizations will reduce your available balance by the
authorization amount until it is released or reconciled with the actual charge.
Please contact your credit card issuer if you have additional questions
regarding when an authorization amount will be removed from your statement.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;
color:black'>Delivery.<br></span></b><span lang=EN-US style='font-family:Times;
mso-bidi-font-family:Times;color:black'> Where <span class=GramE>You</span>
choose to have the Goods delivered to You, the Seller shall use a courier to
deliver the Goods to the Buyer as the Order is processed. Delivery charges (if
applicable) will be added at checkout. <span class=SpellE>Cubey</span> and the
Seller rely on third parties to provide delivery services. Neither <span
class=GramE>we nor the Seller</span> will be responsible if estimated timelines
are not met. If <span class=GramE>You</span> do not receive a delivery in time,
You may cancel Your Order in accordance with the cancellation policy detailed
below. You shall be charged all applicable duty, taxes, and/or brokerage fees
C.O.D. in the local currency at the time of delivery. All taxes, duties and
customs fees are the responsibility of the customer. Tax and duty amount is
presented during delivery, not during checkout. Please contact your local post
office for clarification before you place your order if you are concerned.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Returns</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>If for any
reason You are unhappy with Your Order, depending on the Store you are ordering
from, you may have a return period following the date of receipt of Your Goods
during which you can contact <span class=SpellE>Cubey</span> (at </span><a href="mailto:info@cubey.co">info@cubey.co</a><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>)
or the Store directly with your Order number, name and address. Some Stores do
not accepts <span class=GramE>returns,</span> others accept returns for up to
60 days. All orders must be returned to the Store directly. You must not send
the Goods to <span class=SpellE>Cubey</span>. Please returns the Goods in the
original packaging and the in the same original condition, along with your
proof of purchase. All Goods must be returned in accordance with the Store's
returns policy, which may be viewed on the profile of each Store and each
product on <span class=SpellE>Cubey</span>, or at the Store when the Goods are
collected in person. If <span class=GramE>You</span> want an exchange then the
Store will exchange your Goods directly according to their own policy. If <span
class=GramE>You</span> want to receive a refund <span class=SpellE>Cubey</span>
will credit the original purchaser's credit/debit card within 5 business days
of being notified by the Store of receipt of the returned Goods. Card refunds
may take 3-5 working days to appear in <span class=GramE>Your</span> account.
The refund does not include any shipping and handling costs, and it does not include Fees. We
strongly advise <span class=GramE>You</span> to send all returned Goods by a
secure signed for service, or to return the Goods in person to the Store. Any
returned items must be insured for the full amount of the sum paid and signed
for on delivery. If the Store does not receive the Goods back from You, <span
class=SpellE>Cubey</span> will not be able to reimburse <span class=GramE>You</span>. 
Neither <span class=SpellE>Cubey</span> nor the Store shall be
responsible for any lost or damaged Goods. Therefore, You are advised to retain
the proof of postage certificate for any Goods returned. All perishable Goods
such as food can not be returned. They (&quot;THE GOODS&quot; )also shall not be cancelled after they
have been purchased.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Disclaimer and
Limitation of Liability</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>CUBEY ON
BEHALF OF ITS MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES AND AGENTS, MAKES NO
EXPRESS OR IMPLIED WARRANTIES, COVENANTS OR REPRESENTATIONS OF ANY KIND WITH
RESPECT TO THE SITE, THE SERVICES, THE CUBEY CONTENT, THIRD PARTY CONTENT OR
ANY OTHER CONTENT. CUBEY EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND,
EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO,
IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE
AND NON-INFRINGEMENT, WITH REGARD TO THE SITE, THE SERVICES, THE CUBEY CONTENT,
THIRD PARTY CONTENT AND ANY OTHER CONTENT, AND ANY PRODUCT OR SERVICE FURNISHED
OR TO BE FURNISHED FROM OR ON THE SITE. CUBEY DOES NOT WARRANT: THAT THE
FUNCTIONS PERFORMED BY THE SITE OR THE SERVICE WILL BE UNINTERRUPTED, TIMELY,
SECURE OR ERROR-FREE; OR THAT DEFECTS IN THE SITE OR THE SERVICES WILL BE
CORRECTED; OR -THE ACCURACY OR COMPLETENESS OF THE CUBEY CONTENT, THIRD PARTY CONTENT,
OR ANY OTHER CONTENT; OR THAT ANY ERRORS IN THE CUBEY CONTENT, THIRD PARTY DATE
OR OTHER CONTENT WILL BE CORRECTED. THE SITE, THE SERVICES, AND THE CUBEY
CONTENT AND OTHER CONTENT ARE PROVIDED ON AN AS IS, WHERE IS, AS
AVAILABLE AND WITH ALL FAULTS BASIS. SOME STATES DO NOT ALLOW THE DISCLAIMER
OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU. THIS
WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER LEGAL
RIGHTS THAT VARY FROM STATE TO STATE.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>IN NO EVENT
WILL CUBEY OR ITS MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES AND AGENTS BE LIABLE
FOR ANY DAMAGES WHATSOEVER, INCLUDING, BUT NOT LIMITED TO ANY DIRECT, INDIRECT,
GENERAL, SPECIAL, COMPENSATORY, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR OTHER
DAMAGES ARISING OUT OF (I) YOUR CONDUCT OR ANYONE ELSE IN CONNECTION WITH USE
OF THE SITE, THE SERVICES OR THIS AGREEMENT (II) INABILITY TO USE THE SITE, THE
SERVICES, THE CUBEY CONTENT OR ANY OTHER CONTENT, (III) ANY TRANSACTION
CONDUCTED THROUGH OR FACILITATED BY THE SITE; (IV) ANY CLAIM ATTRIBUTABLE TO
ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SITE, THE SERVICES, THE CUBEY
CONTENT AND/OR ANY OTHER CONTENT, (V) UNAUTHOURIZED ACCESS TO OR ALTERATION OF
YOUR INFORMATION, STOREFRONT OR DATA, OR (VI) ANY OTHER MATTER RELATING TO THE
SITE, THE SERVICES, CUBEY CONTENT OR ANY OTHER CONTENT, EVEN IF CUBEY HAS BEEN
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOU ARE DISSATISFIED WITH THE
SITE, THE SERVICES, CUBEY CONTENT OR ANY OTHER CONTENT, OR WITH THE TERMS OF
USE, <span class=GramE>YOUR</span> SOLE AND EXCLUSIVE REMEDY IS TO CEASE USING
THE SITE. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR
CONSEQUENTIAL OR INCIDENTAL DAMAGES, AND THEREFORE SOME OF THE ABOVE
LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH STATES CUBEY'S LIABILITY IS LIMITED
AND WARRANTIES ARE EXCLUDED TO THE GREATEST EXTENT PERMITTED BY LAW, BUT SHALL,
IN NO EVENT, EXCEED £100.00.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>IF YOU HAVE A
DISPUTE WITH ONE OR MORE BUYERS, YOU RELEASE US (AND OUR MEMBERS, DIRECTORS,
OFFICERS, EMPLOYEES AND AGENTS,) FROM CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND
CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, ARISING OUT OF OR
IN ANY WAY CONNECTED WITH SUCH DISPUTE.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>YOU AGREE TO
INDEMNIFY AND HOLD CUBEY (AND OUR MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES AND
AGENTS), HARMLESS FROM ANY CLAIM OR DEMAND, INCLUDING ATTORNEY FEES, MADE BY
ANY THIRD PARTY DUE TO OR ARISING OUT OF (A) YOUR BREACH OF THIS AGREEMENT, OR
YOUR VIOLATION OF ANY LAW OR THE RIGHTS OF A THIRD PARTY OR MADE BY ANY THIRD
PARTY DUE TO OR ARISING OUT OF GOODS OR SERVICES OFFERED FOR SALE OR ACTUALLY
PURCHASED OR THE THIRD PARTY CONTENT OR OTHER CONTENT YOU SUBMIT, POST OR MAKE
AVAILABLE THROUGH OR ON A STOREFRONT AND (B) YOUR USE, MISUSE, OR INABILITY TO
USE THE SITE, THE SERVICES, OR THE CUBEY CONTENT OR ANY VIOLATION BY YOU OF
THIS AGREEMENT.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>YOU HEREBY
FURTHER RELEASE CUBEY (AND OUR MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES AND
AGENTS) FOR ALL ACTIONS OR INACTIONS OF OTHER USERS, INCLUDING GOODS AND
SERVICES ADVERTISED OR SOLD. YOU AGREE THE SITE IS DESIGNED TO PERMIT PARTIES
TO ENTER INTO TRANSACTIONS FOR ALL KINDS OF GOODS AND SERVICES AND OTHER
ACTIVITIES. CUBEY HAS NO CONTROL OVER AND DOES NOT GUARANTEE THE QUALITY,
SAFETY OR LEGALITY OF THE GOODS OR SERVICES ADVERTISED, THE TRUTH OR ACCURACY
OF THE INFORMATION SET FORTH IN THE PLACES, THE ABILITY OF ORGANIZERS AND
SELLERS TO SELL ITEMS OR SERVICES, THE ABILITY OF BUYERS TO PAY FOR ITEMS OR
SERVICES, OR THAT A BUYER OR SELLER WILL ACTUALLY COMPLETE A TRANSACTION.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>General</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>If a dispute
arises between <span class=GramE>You</span> and <span class=SpellE>Cubey</span>,
We will seek to resolve the dispute as quickly as commercially reasonable.
Before resorting to legal proceedings, <span class=GramE>You</span> must first
contact Us directly and work with Us to resolve a dispute. If a dispute cannot
be resolved by <span class=GramE>You</span> and We, You will have the option to
pursue a claim (a &quot;Claim&quot;) against <span class=SpellE>Cubey</span> in
accordance with one of the options provided below or as We and You otherwise
agree in writing.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>This Agreement
shall be governed in all respects by the laws of the United Kingdom as they
apply to agreements entered into.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span class=SpellE><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>Cubey</span></span><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'>
retains the right to limit, suspend, or terminate Services for any user,
prohibit access to the Site and take other actions deemed appropriate by <span
class=SpellE>Cubey</span> to keep users off the Site if We conclude a user is
in violation of the Terms or other agreement with <span class=SpellE>Cubey</span>.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You agree to
comply with all applicable domestic and international laws, statutes,
ordinances and regulations regarding Your use of the Services and the Site and
Your listing, sale, acquisition, advertising of offers to sell and purchase
goods and services.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>You and <span
class=SpellE>Cubey</span> are independent of one another and consequently, no <span
class=GramE>agency,</span> partnership, joint venture, employee-employer or
franchiser-franchisee relationship is intended or created by this Agreement.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>These Terms
are effective March 1st, 2016, for current users, and upon use of the Site by a
new user. We reserve the right to change, modify, add, remove or terminate the
Terms and Services for any reason, without notice, at any time. We reserve the
right to alter or amend these Terms or other Site policies at any time. Please
check the Terms and any Guidelines periodically for changes. Your continued use
of the Website and/or software after the posting of changes constitutes your binding acceptance
of changes to the Terms or other Site policies. Any notices of termination or modification to the Services or
the Terms will take effect when set forth on the Site. When using particular
Services on the Site, You are subject to any unique posted policies or rules
applicable to specific Services You use through the Site, which may be posted
from time to time. All such policies or rules are hereby incorporated into this
Agreement. This Agreement as supplemented by such other additional agreements
for specific Services, sets forth the entire understanding and agreement
between <span class=GramE>Us</span> with respect to the subject matter hereof.</span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Any
responsibilities or obligations of a <span class=GramE>User which</span> accrue
or arise during the term of this Agreement shall survive the termination of
this Agreement until fully satisfied by You.</span></p>

<p class=MsoNormal style='margin-bottom:14.9pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:18.0pt;mso-bidi-font-size:12.0pt;
font-family:Times;mso-bidi-font-family:Times;color:black'>Contact</span></b></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Please submit
any questions you have about these Terms, an order you have placed or
purchasing in general by email to </span><a href="mailto:info@cubey.co">info@cubey.co</a><span
lang=EN-US style='font-family:Times;mso-bidi-font-family:Times;color:black'> or
write to us at:</span></p>

<p class=MsoNormal><span class=SpellE><span lang=EN-US style='font-family:Times;
mso-bidi-font-family:Times;color:black'>Cubey</span></span><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'> Ltd<br>
10/4,<br>
Cherry Garden Avenue,<br>
<span class=SpellE>Cheriton</span>,</span></p>

<p class=MsoNormal><span class=SpellE><span class=GramE><span lang=EN-US
style='font-family:Times;mso-bidi-font-family:Times;color:black'>Folkestone</span></span></span><span
class=GramE><span lang=EN-US style='font-family:Times;mso-bidi-font-family:
Times;color:black'><br>
United Kingdom.</span></span></p>

</div>

</body>

</html>
